<div style="display: flex; justify-content: center;">
  <div class="grid-container" style="display: grid; grid-template-columns: 75% auto; grid-column-gap: 1rem; max-width: 750px">
    <mat-form-field class="example-full-width" style="grid-column: 1/2">
      <input matInput type="search" placeholder="IMEI/Serial number or name of the item" required [(ngModel)]="searchPhrase">
    </mat-form-field>
    <button style="grid-column: 2/3" mat-raised-button color="accent" (click)="search()">Search</button>
  </div>
</div>
<div *ngIf="(lostItemsSearchResult$ | async)?.length == 0 && (foundItemsSearchResult$ | async)?.length == 0">
  <p>Sorry no such item was found in the database. What would you like to do?</p>
</div>
<div *ngIf="(lostItemsSearchResult$ | async) && (foundItemsSearchResult$ | async)" style="display: flex; justify-content: center; flex-wrap: wrap;">
  <button mat-button color="primary" (click)="addLostItem()" style="flex: 20%; margin-left: 1rem; margin-right: 1rem">I lost this item</button>
  <button mat-button color="primary" (click)="addFoundItem()" style="flex: 20%; margin-left: 1rem; margin-right: 1rem" >I found this item</button>
  <button mat-button color="basic" (click)="addOwnedItem()" style="flex: 20%; margin-left: 1rem; margin-right: 1rem">Protect this item</button>
</div>
<div *ngIf="(lostItemsSearchResult$ | async)?.length > 0">
  <h3>Lost items matched</h3>
  <mat-accordion class="items-align">
    <mat-expansion-panel *ngFor="let lostItem of (lostItemsSearchResult$ | async)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ lostItem.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ lostItem.serialNumber }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        Lost {{lostItem.lostDate | date }} - {{lostItem.lostPlace}}
        <p>{{lostItem.description}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="(foundItemsSearchResult$ | async)?.length > 0">
  <h3>Found items matched</h3>
  <mat-accordion class="items-align">
    <mat-expansion-panel *ngFor="let foundItem of (foundItemsSearchResult$ | async)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ foundItem.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ foundItem.serialNumber }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        Lost {{foundItem.foundDate | date }} - {{foundItem.foundPlace}}
        <p>{{foundItem.description}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

