<div style="display: flex; justify-content: center;">
  <div style="max-width: 700px;" >
    <form [formGroup]="userForm" (ngSubmit)="save()">
      <div>
        <mat-form-field>
          <input matInput type="email" placeholder="Email address" formControlName="email">
          <mat-error *ngIf="userForm.get('email').hasError('duplicate')">Email address is in use</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" minlength="8" required formControlName="password">
          <mat-error *ngIf="userForm.get('password').hasError('minlength')">Minimal password length is 8 characters</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Repeat password" required formControlName="passwordRepeat" [errorStateMatcher]="userForm.passwordRepeatStateMatcher">
          <mat-error *ngIf="userForm.hasError('passwordsDoNotMatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Register</button>
    </form>
  </div>
</div>


